# Neon Serverless PostgreSQL Connection String
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Neon Auth / Better Auth Config
NEON_AUTH_SECRET="super-secret-key-for-neon-auth-min-32-chars"
BETTER_AUTH_SECRET="super-secret-key-for-neon-auth-min-32-chars"
BETTER_AUTH_URL="http://localhost:3000"

# Application Base URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
